.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  flex: 1;
}

mat-toolbar {
  background-color: var(--primary-color) !important;
  color: white;
}
